* {
  margin: 0;
  padding: 0; }

.nav {
  background-image: linear-gradient(to right, #0f1b35, #dcf7ff);
  color: #dcf7ff; }
  .nav ul {
    display: flex; }
    .nav ul li {
      list-style: none;
      padding: 1rem; }
      .nav ul li:hover {
        color: black;
        background-color: #dcf7ff; }

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcf7ff;
  padding-bottom: 40px; }
  .header h1 {
    font-style: italic;
    padding-top: 1rem; }
    .header h1 p {
      font-style: italic;
      padding-top: 1rem; }

footer {
  color: #dcf7ff;
  background-image: linear-gradient(to right, #0f1b35, #dcf7ff);
  padding: 1rem; }

.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcf7ff;
  padding-top: 20px;
  padding-bottom: 25px; }
  .main h2 {
    font-style: inherit;
    padding-top: 20px; }
    .main h2 p {
      font-style: italic; }
