* {
    margin: 0;
    padding: 0;
}

@import'./pags/nav.scss';
@import'./pags/header.scss';
@import'./pags/footer.scss';


.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #dcf7ff;
    padding-top: 20px;
    padding-bottom: 25px;

    h2 {
        font-style: inherit;
        padding-top: 20px;

        p {
            font-style: italic;
        }
    }

}